.top-product-box h2{font-size:22px; font-weight:700; position: relative; padding-bottom:20px; margin-bottom:25px;}
.top-product-box h2::after{width:25%; height:3px; background-color:#ccc; content:""; position: absolute; left:0; bottom:0;}
.top-prod-card{display: flex;}
.top-prod-card .tpc-img{width:25%; border: 1px solid #f5f5f5; box-shadow: 0 0 3px #ccc; display: flex; align-items: center; border-radius:4px;}
.top-prod-card .tpc-img img{max-width:100%;}
.top-prod-card .tpc-text{padding-left:10px; width:75%;}
.top-prod-card .tpc-text h3{font-size:14px; margin-bottom: 0; font-weight:700; line-height:16px;}
.top-prod-card .tpc-text h3 a{text-decoration: none; color:#333;}
.top-prod-card .rating>label{font-size:20px; width:18px;}
.top-prod-card .tpc-rating{display: flex; align-items: center;}
.top-prod-card .tpc-rating .rating-counts{font-size:12px; color:#0005;}
.top-prod-card .sale-price,
.top-prod-card .old-price{font-size:14px;}
.tpc-lists{margin:0;padding:0; list-style: none;}
.tpc-lists li{margin-bottom:12px;}
.tpc-lists li:last-of-type{margin-bottom:0;}